html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.practice-container {
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

