.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.map-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.map-wrapper svg {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.spain-content {
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 2rem;
    text-align: center;
}