{% extends 'base/base.html'%} {% block navbar %} {% endblock navbar %} 
{% block styles %} {{ block.super }} {% load static %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'styles/base/login_register.css' %}"
/>
<script src="{% static 'scripts/base/login_register.js' %}"></script>
{% endblock styles %} {% block content %}

<div class="center-content">
    <div class="content-wrapper">
        <div class="logo-circle">
            <span class="logo-text">SpanTrek</span>
        </div>

        {%if page == 'login'%}
        <form method="POST" action="" class="login-form">
            {%csrf_token%}
            <input
                type="email"
                name="email"
                placeholder="Email"
                required
                class="form-input"
            />
            <input
                type="password"
                name="password"
                placeholder="Password"
                required
                class="form-input"
            />
            <button type="submit" class="btn" style="width: 100%">Login</button>
        </form>

        <div class="button-group">
            <div class="register-prompt">
                <span class="register-text">Don't have an account yet?</span>
                <a href="{%url 'register_page'%}" class="btn">Register</a>
            </div>
        </div>

        {%else%}
        <form method="POST" action="" class="login-form">
            {%csrf_token%} {%for field in register_form%}
            <input
                type="{% if 'password' in field.name %}password{% elif 'email' in field.name %}email{% else %}text{% endif %}"
                name="{{field.name}}"
                placeholder="{{field.label}}"
                required
                class="form-input"
            />
            {%endfor%}
            <button type="submit" class="btn" style="width: 100%">
                Register
            </button>
        </form>

        <div class="button-group">
            <div class="register-prompt">
                <span class="register-text">Already have an account?</span>
                <a href="{%url 'login_page'%}" class="btn">Login</a>
            </div>
        </div>
        {%endif%}
    </div>
</div>

{%endblock content%}
