{%load static%}

<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'styles/base/navbar.css' %}"
/>
<script src="{% static 'scripts/navbar.js' %}"></script>

<header>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="{% url 'home_page' %}">SpanTrek</a>
        </div>

        <div class="buttons-section">
            <div class="logout-section">
                <a href="{% url 'user_page' user.id %}" class="logout-btn">Account</a>
            </div>

            <div class="logout-section">
                <a href="{% url 'logout_user' %}" class="logout-btn">Logout</a>
            </div>
        </div>
    </nav>
</header>
