<!DOCTYPE html>
<html>
    <head>
        {%block styles%}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>SpanTrek</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'styles/base.css' %}"
        />
        {%endblock styles%}
    </head>

    <body>
        {% block navbar %} {%include 'navbar.html'%} {% endblock navbar %}

        <!-- Flash messages -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- block content can be described as wrapper in which will be dynamically rendered site content  -->

        {%block content%}
        <!--  Content of specific site -->
        {%endblock content%} {%include 'footer.html'%}
    </body>
</html>
