{% load static %}

<link
    rel="stylesheet"
    href="{% static 'styles/lessons/exercises/input_field.css' %}"
/>
<script src="{% static 'scripts/lessons/exercises/input_field.js' %}"></script>

<div class="input-field-container">
    <div class="input-field-wrapper">
        <div class="input-field-header">
            <h3 class="input-field-title">Translate</h3>
            <div class="input-field-instruction">{{ content.0 }}</div>
        </div>
        <div class="input-field-content">
            <div class="input-container">
                <input
                    type="text"
                    id="userInput"
                    class="user-input"
                    placeholder="Type your answer here..."
                    autocomplete="off"
                    data-answer="{{ content.1 }}"
                />
            </div>
        </div>

        <div class="input-field-actions">
            <button class="check-btn-input">Check answer</button>
            <button class="reset-btn-input">Reset</button>
        </div>
    </div>
</div>
