{%load static%}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'styles/lessons/back_to_world_country_map.css' %}"
/>

<div class="continue-button-container">
    {% if country and landmark %}
    <a
        href="{% url 'lessons:country_landmark_lesson' country=country landmark=landmark %}"
        class="continue-button"
    >
        Back to {{ landmark }} map
    </a>
    {% elif country %}
    <a
        href="{% url 'lessons:country_map' country=country %}"
        class="continue-button"
    >
        Back to {{ country }} map
    </a>
    {% endif %}
</div>
