{% extends 'base/base.html' %} {% load static %} {% block content %}

<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'styles/lessons/lesson_intro.css' %}"
/>

<div class="lesson-intro">
    {% include 'lessons/back_to_country_landmark_map.html' with country=country only %}
    <h1>{{ country|title }} - {{ landmark|title }}</h1>

    <div class="lessons-container">
        {% for lesson in landmark_lessons %}
            {% if lesson.order <= user_landmark_progress %}
                <a href="{% url 'lessons:landmark_lesson_with_number' country=country landmark=landmark lesson_number=lesson.order %}"
                class="lesson-circle {% if lesson.order < user_landmark_progress %}completed{% else %}current{% endif %}">
            {% else %}
                <div class="lesson-circle locked">
            {% endif %}
            <div class="lesson-number">{{ lesson.order|add:1 }}</div>
            <div class="lesson-title">{{ lesson.title }}</div>
            <div class="lesson-stats">
                <span>📚 {{ lesson.vocabularies.count }}</span>
                <span>💬 {{ lesson.sentences.count }}</span>
                <span>🎧 {{ lesson.audios.count }}</span>
                <span>🇪🇸 {{ lesson.use_of_spanish }}</span>
            </div>
            {% if lesson.order <= user_landmark_progress %}
                </a>
            {% else %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
