{% load static %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'styles/lessons/progress_bar.css' %}"
/>
<script src="{% static 'scripts/lessons/progress_bar.js' %}"></script>

<div class="progress-bar-container">
    <span class="progress-bar-info">
        {{ progress_bar_progress }} / {{ progress_bar_max }} 
        {{ progress_bar_optional_text|default:"lessons completed"}}
    </span>
    <div class="progress-bar">
        <div class="progress-fill"></div>
    </div>
    <span class="progress-bar-text"></span>
</div>
