{% load static %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'styles/lessons/progress_bar.css' %}"
/>
<script src="{% static 'scripts/lessons/progress_bar.js' %}"></script>

<div class="progress-bar-container">
    <span class="progress-bar-info">
        {{ user_country_progress }} / {{ country_lessons_count }} lessons
        completed
    </span>
    <div class="progress-bar">
        <div class="progress-fill"></div>
    </div>
    <span class="progress-bar-text"></span>
</div>
